{% extends 'shopapp/base.html' %}

{% block title %}
    User orders
{% endblock %}

{% block body %}
<div>
    {% if object_list %}
    <p>The user {{ user.username }} has completed the following orders</p>
      <div>
        {% for order in object_list %}
          <div>
            <p><a href="{% url 'shopapp:order_details' pk=order.pk %}"
            >Details #{{ order.pk }}</a></p>
            <p>Promocode: <code>{{ order.promocode }}</code></p>
            <p>Delivery address: {{ order.delivery_address }}</p>
            <div>
              Products in order:
              <ul>
                {% for product in order.products.all %}
                  <li>{{ product.name }} for ${{ product.price }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <h3>The user {{ user.username }} has no orders yet</h3>
    {% endif %}
  </div>
{% endblock %}